unpackaged/main/default/flows/Handle_Received_Faxes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_or_Post</targetReference>
            </connector>
            <label>Enrollment</label>
        </rules>
        <rules>
            <name>ReImbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reimbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Post_Reimbursement_Q</targetReference>
            </connector>
            <label>ReImbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_path_for_fax</name>
        <label>Choose path for fax</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fax_Review_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Sent_Fax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.efaxapp__Total_Pages__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.efaxapp__Sent_Fax__r.TotalPagesPlusOne__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Review_Fax_Queue_Name</targetReference>
            </connector>
            <label>Fax Review Required</label>
        </rules>
        <rules>
            <name>Route_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Sent_Fax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_the_related_data_0</targetReference>
            </connector>
            <label>Route to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_or_Post</name>
        <label>Pre or Post</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Go_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__r.Account.Go_Live_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pre_Enrollment_Q</targetReference>
            </connector>
            <label>Pre Go Live</label>
        </rules>
        <rules>
            <name>Post_Go_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__r.Account.Go_Live_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Post_Enrollment_Q</targetReference>
            </connector>
            <label>Post Go Live</label>
        </rules>
    </decisions>
    <description>Used to connect received faxes to sent faxes, cases, contacts, accounts, or send orphaned faxes to a the fax review required queue</description>
    <environments>Default</environments>
    <interviewLabel>Handle Received Faxes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Received Faxes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Post_Enrollment_Q</name>
        <label>Get Post Enrollment Q</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post_Go_Live_Enrollment_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Post_Reimbursement_Q</name>
        <label>Get Post Reimbursement Q</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post_Go_Live_Reimbursement_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Enrollment_Q</name>
        <label>Get Pre Enrollment Q</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Go_Live_Enrollment_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Review_Fax_Queue_Name</name>
        <label>Get Review Fax Queue Name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fax_for_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax_Review_Required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Match_the_related_data_0</name>
        <label>Match the related data</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>efaxapp__Account__c</field>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>efaxapp__Case__c</field>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>efaxapp__Contact__c</field>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fax_for_Review</name>
        <label>Set Fax for Review</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Review_Fax_Queue_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <stringValue>Fax Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Post_Reimbursement_Q.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <stringValue>Fax Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Post_Enrollment_Q.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.efaxapp__Sent_Fax__r.efaxapp__Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <stringValue>Fax Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Pre_Enrollment_Q.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_path_for_fax</targetReference>
        </connector>
        <object>efaxapp__Received_Fax__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
