unpackaged/main/default/flows/Medical_Reassign_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>case</name>
        <choiceText>case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>case</stringValue>
        </value>
    </choices>
    <choices>
        <name>defaultCaseStatus</name>
        <choiceText>{!formNewCaseStatus}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>formNewCaseStatus</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultHCPActionRequired</name>
        <choiceText>{!formHCPActionRequired}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>formHCPActionRequired</elementReference>
        </value>
    </choices>
    <choices>
        <name>GetCaseStatusChoice</name>
        <choiceText>{!Get_Case_Record.Status}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case_Record.Status</elementReference>
        </value>
    </choices>
    <choices>
        <name>GetHCPActionRequired</name>
        <choiceText>{!Get_Case_Record.HCP_Enrollment_Outreach__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case_Record.HCP_Enrollment_Outreach__c</elementReference>
        </value>
    </choices>
    <constants>
        <description>This is a Row Id of the General Queue specific to each Salesforce Instance</description>
        <name>generalQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G8W0000040ppBUAQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Followup_Date_is_Populated</name>
        <label>Followup Date is Populated</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>When_MRB_Follow_up_Date_and_Time_is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MBR_Follow_up_Date_Time</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is a new branch when the user selects &quot;Transfer to Health Plan&quot;</description>
        <name>When_MRB_Follow_up_Date_and_Time_is_Blank</name>
        <label>When MRB Follow up Date and Time is Blank</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_No_Follow_up_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_To_Health_Plan_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MBR_Follow_up_Date_Time</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Last_PRx_Outreach_Attempt</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record_0</targetReference>
            </connector>
            <label>Transfer To Health Plan Selected</label>
        </rules>
        <rules>
            <name>Enrollment_Case_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_MBR_Case_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Case_Close</targetReference>
            </connector>
            <label>Enrollment Case Close</label>
        </rules>
        <rules>
            <name>Reimbursement_Case_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_MBR_Case_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reimbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reimbursement_Case_Close</targetReference>
            </connector>
            <label>Reimbursement Case Close</label>
        </rules>
    </decisions>
    <description>Add Custom Case Close Reason picklists for Enrollment and Reimbursement Record Types ADO 1985</description>
    <dynamicChoiceSets>
        <name>CaseStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnrollmentCaseCloseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Enrollment_Case_Close_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HCP_Enrollment_Outreach</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>HCP_Enrollment_Outreach__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReimbursementCaseCloseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reimbursement_Case_Close_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formHCPActionRequired</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Case_Record.HCP_Enrollment_Outreach__c},
            &quot;Outreach Needed&quot;, &quot;Outreach Needed&quot;,
            &quot;Fax Received&quot;, &quot;Fax Received&quot;,
            &quot;Outreach Complete&quot;, &quot;Outreach Complete&quot;,
            &quot;Outreach Needed&quot;)</expression>
    </formulas>
    <formulas>
        <name>formNewCaseStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Case_Record.Status},
            &quot;Verify Fax Number&quot;, &quot;Verify Fax Number&quot;,
            &quot;1st Attempt Needed&quot;, &quot;1st Attempt Needed&quot;,
            &quot;2nd Attempt Needed&quot;, &quot;2nd Attempt Needed&quot;,
            &quot;3rd Attempt Needed&quot;, &quot;3rd Attempt Needed&quot;,
            &quot;Outreach Completed&quot; ,&quot;Outreach Completed&quot;,
            &quot;Verify Fax Number&quot;)</expression>
    </formulas>
    <formulas>
        <name>LastPRxOutreachAttemptDate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!Last_PRx_Outreach_Attempt}))</expression>
    </formulas>
    <interviewLabel>Medical Reassign Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Reassign Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Case_Results_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Fault_Message_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Time__c</field>
            <value>
                <elementReference>MBR_Follow_up_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <elementReference>New_HCP_Enrollment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PRx_Outreach_Attempt__c</field>
            <value>
                <elementReference>Last_PRx_Outreach_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>generalQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_MBR_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_0</name>
        <label>Update Case Record</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Message_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <elementReference>New_HCP_Enrollment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PRx_Outreach_Attempt__c</field>
            <value>
                <elementReference>Last_PRx_Outreach_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>generalQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_MBR_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_No_Follow_up_0</name>
        <label>Update Case with No Follow up</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Fault_Message_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <elementReference>New_HCP_Enrollment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PRx_Outreach_Attempt__c</field>
            <value>
                <elementReference>Last_PRx_Outreach_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>generalQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_MBR_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_Case_Close</name>
        <label>Update Enrollment Case Close</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Message_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enrollment_Case_Close_Reason__c</field>
            <value>
                <elementReference>Enrollment_Case_Closed_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <elementReference>New_HCP_Enrollment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PRx_Outreach_Attempt__c</field>
            <value>
                <elementReference>Last_PRx_Outreach_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>generalQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Enrollment_Case_Closed_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_MBR_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reimbursement_Case_Close</name>
        <label>Update Reimbursement Case Close</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Message_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>HCP_Enrollment_Outreach__c</field>
            <value>
                <elementReference>New_HCP_Enrollment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_PRx_Outreach_Attempt__c</field>
            <value>
                <elementReference>Last_PRx_Outreach_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>generalQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Reimbursement_Case_Closed_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reimbursement_Case_Close_Reason__c</field>
            <value>
                <elementReference>Reimbursement_Case_Closed_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_MBR_Case_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Fault_Message_Screen_0</name>
        <label>Fault Message Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message_01_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The following error has occurred when updating the Case Record: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen_0_0_0_0</name>
        <label>Fault Message Screen</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message_01_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The following error has occurred when updating the Case Record: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_Case_Results_Label</name>
        <label>Log Case Results_Label</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Followup_Date_is_Populated</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;Capture the below information to transfer the Case back to the queue.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note&lt;/b&gt;, that by transferring back to the queue, you will lose access to Member Drug information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_HCP_Enrollment_Status</name>
            <choiceReferences>defaultHCPActionRequired</choiceReferences>
            <choiceReferences>HCP_Enrollment_Outreach</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultHCPActionRequired</defaultSelectedChoiceReference>
            <fieldText>HCP Action Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_MBR_Case_Status</name>
            <choiceReferences>defaultCaseStatus</choiceReferences>
            <choiceReferences>CaseStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MBR_Follow_up_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Follow up Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1st Attempt Needed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>2nd Attempt Needed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>3rd Attempt Needed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Verify Fax Number</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4th Attempt Needed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>5th Attempt Needed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_PRx_Outreach_Attempt</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Last PRx Outreach Attempt</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Select the date of the latest telephonic outreach PRx made to either the MBR or HCP&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please make sure you populate the Last PRx Outreach Attempt Date when you select the Case Status as &quot;Transfer to Health Plan&quot;.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!LastPRxOutreachAttemptDate}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Transfer to Health Plan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enrollment_Case_Closed_Reason</name>
            <choiceReferences>EnrollmentCaseCloseReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enrollment Case Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Enrollment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outreach Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reimbursement_Case_Closed_Reason</name>
            <choiceReferences>ReimbursementCaseCloseReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reimbursement Case Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reimbursement</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_MBR_Case_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outreach Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
